* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#show-modal-btn {
    font-size: 30px;
    padding:10px;
}

.modal-container {
    background-image: linear-gradient(rgba(0,0,0,07),rgba(0,0,0,0.8));
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.show-modal {
    visibility: visible;
}

.modal {
    background-color: #fff;
    width: 600px;
    border-radius: 5px;
    overflow: hidden;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: cyan;
    padding:10px 10px;
}

#close-modal-btn {
    padding:5px;
    background-color: transparent;
    font-size: 20px;
    border: none;
}

.modal-description {
    padding:25px 10px;
}